/cols6.png
/cols6dk.png
/cols6eq.png
/cols6st.png
/SwedenBirthFlowsInk2.png
/SwedenBirthFlowsInk2.pdf
/SwedenBirthFlowsR.pdf
/SwedenBirthFlowsR2 (copy).pdf
/SwedenBirthFlowsR2.pdf
/SwedenBirthFlowsR3_labelcheck.pdf
/SwedenBirthFlowsR4.pdf
/SwedenBirthFlowsR4Ink2.pdf
/SwedenBirthFlowsR4Ink2.png
/Header.png
/Fig11900IDAge.pdf
/Fig11900IDYear.pdf
/Fig11900MotherAge.pdf
/Fig11900MotherCohort.pdf
/Fig31900juxt.pdf
/FigReflection.pdf
/TweetIt.png
/SwedenBirthFlowsManFoldout.svg
/App_preAdjustment.pdf
/App_split1.pdf
/App_split2.pdf
/App_split3.pdf
/a4demonstration.png
/App_postAdjustment.pdf
/GMLag.pdf
/rBcrBt.pdf
/ColorRamps/
/BirthFlowsFoldout.pdf
/facebook.png
/twitter.png
/BirthFlowsSingleFoldout.pdf
/BirthFlowsSingleVertColorFoldout.pdf
/sd_sens.png
/BirthFlowsSingleFoldoutInk.pdf
/SwedenBirthFlowsManFoldout.pdf
/forkieron.png
