/cols6.png
/cols6dk.png
/cols6eq.png
/cols6st.png
/SwedenBirthFlowsInk2.png
/SwedenBirthFlowsInk2.pdf
/SwedenBirthFlowsR.pdf
/SwedenBirthFlowsR2 (copy).pdf
/SwedenBirthFlowsR2.pdf
/SwedenBirthFlowsR3_labelcheck.pdf
/SwedenBirthFlowsR4.pdf
/SwedenBirthFlowsR4Ink2.pdf
/SwedenBirthFlowsR4Ink2.png
/Header.png
/Fig11900IDAge.pdf
/Fig11900IDYear.pdf
/Fig11900MotherAge.pdf
/Fig11900MotherCohort.pdf
/Fig31900juxt.pdf
/FigReflection.pdf
/FxFlowReflect.pdf
/TweetIt.png
/SwedenBirthFlowsManFoldout.pdf
/SwedenBirthFlowsManFoldout.svg
