/tmp/
/.project
/.texlipse
/BirthFlows.synctex.gz
/BirthFlows.log
/BirthFlows.bbl
/.Rhistory
/references.bib.bak
/BirthFlows.blg
/BirthFlows.ent
/BirthFlows.lof
/BirthFlows.lot
/TitlePage.tex
/TitlePage.log
/TitlePage.pdf
/TitlePage.synctex.gz
/CoverLetter.pdf
/BirthFlows_notAnonymous.bbl
/BirthFlows_notAnonymous.ent
/BirthFlows_notAnonymous.lof
/BirthFlows_notAnonymous.log
/BirthFlows_notAnonymous.lot
/BirthFlows_notAnonymous.pdf
/BirthFlows_notAnonymous.synctex.gz
